.filter-menu{
    background-color: #fbca60;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border: none;
    position: fixed;
    top: 50%;
    right: 0px;
    padding: 10px;
}
.filter-menu i {
    background-color: #f14c00;
    padding: 15px;
    border-radius: 50%;
    font-size: 1.2rem;
    color: white;
}
.menu-offcanvas{
    background-color: #00000095;
    text-align: center;
    border: 4px solid #fbca60;
}

.menu-offcanvas-header button{
    background-color: #fbca60;
    opacity: 1;
    margin: 30px 30px 0px 0px !important;
}
.menu-canvas-body h4 {
    padding-top: 30%;
}
.item-body{
    text-align: left;
    margin-top: 20px;
}
.button-filter-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-filter-sidebar input{
    border: 2px solid #fbca60;
}
.button-filter-sidebar button {
    margin-left: -40px; 
    color: white;
    padding-top: 12px;
    margin-top: 10px;
    padding-right: 12px;
}
.button-filter-sidebar button:hover{
    background-color: #fbca60;
}

.button-filter-sidebar button:hover {
    color: white;
}
.menufilter-button{
    background: none;
    border: none;
    padding: 10px;
}
.input-footer-search-sidebar {
    padding: 10px 25px;
    border: none;
    background-color: #000000b7;
    color: white;
    width: 100%;
    margin-top: 10px;
}
.input-footer-search-sidebar:focus-visible{
    border: 2px solid #fbca60;
    outline: #fbca60;

}
.item-body .button-filter {
    margin-top: 20px;
}
.item-body .button-filter button{
    width: 90%;
    margin: 5px auto;
}